<div class="slds">
  <div>
    <div aria-hidden="false" role="dialog" class="slds-modal slds-fade-in-open">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
        <div class="slds-modal__container">
          <div class="slds-modal__header">
            <div>
              <img src="../assets/images/logo_ccb.png" class="slds-m-vertical--small">
            </div>
            <h2 class="slds-text-heading--medium">Change Password</h2>
          </div>
          <div class="slds-modal__content">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="oldPassword">Old Password</label>
              <div class="slds-form-element__control">
                <input id="oldPassword" type="password" name="password" class="slds-input" ng-model="user.oldPassword" mongoose-error/>
                <p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.other }}</p>
              </div>
            </div>
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="newPassword">New Password</label>
              <div class="slds-form-element__control">
                <input id="newPassword" type="password" name="newPassword" class="slds-input" ng-model="user.newPassword" ng-minlength="3" required/>
                <p class="help-block"
                   ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                  Password must be at least 3 characters.
                </p>
                <p class="help-block"> {{ message }} </p>
              </div>
            </div>
          </div>
          <div class="slds-modal__footer">
            <button class="slds-button slds-button--neutral slds-button--brand" type="submit">Save Changes</button>
          </div>
        </div>
      </form>      
    </div>
    <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
  </div>
</div>
</div>

