<div class="slds">
  <div>
    <div aria-hidden="false" role="dialog" class="slds-modal slds-fade-in-open">
      <form class="form" name="form" ng-submit="login(form)" novalidate>
        <div class="slds-modal__container">
          <div class="slds-modal__header">
            <div>
              <img src="/assets/images/logo_ccb.png" class="slds-m-vertical--small">
            </div>
            <h2 class="slds-text-heading--medium">Login</h2>
          </div>
          <div class="slds-notify slds-notify--alert slds-theme--inverse-text slds-theme--alert-texture" role="alert">
            <h2 class="slds-text-body--regular">Accounts are reset on server restart from <code>server/config/seed.js</code></h2>
            <h2 class="slds-text-body--regular">Default account is <code>test@test.com</code> / <code>test</code></h2>
            <h2 class="slds-text-body--regular">Admin account is <code>admin@admin.com</code> / <code>admin</code></h2>
          </div>              
          <div class="slds-modal__content">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="email">Email</label>
              <div class="slds-form-element__control">
                <input id="email" type="email" name="email" class="slds-input" ng-model="user.email" required>
              </div>
            </div>
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="password">Password</label>
              <div class="slds-form-element__control">
                <input id="password" type="password" name="password" class="slds-input" ng-model="user.password" required>
              </div>
            </div>
          </div>
          <!--ERROR-->
          <div class="slds-notify slds-notify--alert slds-theme--error slds-theme--alert-texture" role="alert" ng-show="form.email.$error.email && submitted">
            <h2>
              <img src="/assets/SLDS0110/assets/icons/utility/ban.svg" class="slds-icon icon-text-email slds-icon--small slds-m-right--x-small">
                Please enter a valid email.
                <p >{{ errors.other }}</p>
            </h2>
          </div>
          <div class="slds-notify slds-notify--alert slds-theme--error slds-theme--alert-texture" role="alert" ng-show="form.email.$error.required && form.password.$error.required && submitted">
            <h2>
              <img src="/assets/SLDS0110/assets/icons/utility/ban.svg" class="slds-icon icon-text-email slds-icon--small slds-m-right--x-small">
              Please enter your email and password.
            </h2>
          </div>
          <!--/ERROR-->

          <div class="slds-modal__footer">
            <button class="slds-button slds-button--neutral slds-button--brand" type="submit">Login</button>
            <a class="slds-button slds-button--neutral" href="/signup">Register</a>
          </div>
        </div>
      </form>      
    </div>
    <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
  </div>
</div>
</div>