<!--
<div class="slds" ng-controller="NavbarCtrl">
    <div class="slds-grid slds-m-horizontal--medium slds-m-vertical--large">
      <div class="slds-col">
        <div class="slds-media">
          <div class="slds-media__figure">
            <img class="slds-icon slds-icon--large slds-icon-standard-account" src="../bower_components/salesforce-lightning-design-system/assets/icons/custom/custom1.svg" alt=""/>
          </div>
          <div class="slds-media__body">
            <h1 class="slds-text-heading--medium" ng-show="isLoggedIn()">Fulfilling Needs</h1>
            <p class="slds-text-heading--label">Hello {{ getCurrentUser().name }}</p>
          </div>
        </div>
      </div>
      <div class="slds-col slds-no-flex slds-align-middle">
        <div class="slds-button-group" role="group">
          <a ng-repeat="item in menu" ng-class="{active:isActive(item.link)}" class="slds-button slds-button--neutral" ng-href="{{item.link}}">{{item.title}}</a>
          <a ng-show="isAdmin()" ng-class="{active:isActive('/admin')}" class="slds-button slds-button--neutral" href="/admin">Admin</a>      
          <a ng-hide="isLoggedIn()" ng-class="{active:isActive('/signup')}" class="slds-button slds-button--neutral" href="/signup">Sign up</a>
          <a ng-hide="isLoggedIn()" ng-class="{active:isActive('/login')}" class="slds-button slds-button--neutral" href="/login">Login</a>
          <a ng-show="isLoggedIn()" ng-class="{active:isActive('/settings')}" class="slds-button slds-button--neutral" href="/settings">Settings</a>
          <a ng-show="isLoggedIn()" ng-class="{active:isActive('/logout')}" class="slds-button slds-button--neutral" href="" ng-click="logout()">Logout</a>
        </div>
      </div>
    </div>
</div>
-->