<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
	<head>
		<title>Salesforce Lightning Design System Trailhead Module</title>
		<link rel="stylesheet" type="text/css" href="../assets/SLDS0110/assets/styles/salesforce-lightning-design-system-ltng.css">
	</head>

	<body>
		
		<!--WRAPPER-->
		<div class="slds">

			
			<div class="slds-text-body--regular">user</div>
			<span class="slds-icon__container slds-icon__container--circle slds-icon-action-description">
				<img src="../assets/SLDS0110/assets/icons/standard/user_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">avatar</div>
			<span class="slds-icon__container slds-icon__container--circle slds-icon-action-description">
				<img src="../assets/SLDS0110/assets/icons/standard/avatar_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">new_group</div>
			<span class="slds-icon__container slds-icon__container--circle slds-icon-action-description">
				<img src="../assets/SLDS0110/assets/icons/action/new_group_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">household</div>
			<span class="slds-icon__container slds-icon__container--circle slds-icon-action-description">
				<img src="../assets/SLDS0110/assets/icons/standard/household_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">map</div>
			<span class="slds-icon__container slds-icon__container--circle slds-icon-action-description">
				<img src="../assets/SLDS0110/assets/icons/action/map_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">chat</div>
			<span class="">
				<img src="../assets/SLDS0110/assets/icons/utility/chat_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">success</div>
			<span class="">
				<img src="../assets/SLDS0110/assets/icons/utility/success_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">check</div>
			<span class="">
				<img src="../assets/SLDS0110/assets/icons/utility/check_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">clear</div>
			<span class="">
				<img src="../assets/SLDS0110/assets/icons/utility/clear_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">close</div>
			<span class="">
				<img src="../assets/SLDS0110/assets/icons/utility/close_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">refresh</div>
			<span class="">
				<img src="../assets/SLDS0110/assets/icons/utility/refresh_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">new</div>
			<span class="">
				<img src="../assets/SLDS0110/assets/icons/utility/new_60.png" height="30" width="30">
			</span>
			<div class="slds-text-body--regular">add</div>
			<span class="">
				<img src="../assets/SLDS0110/assets/icons/utility/add_60.png" height="30" width="30">
			</span>

		</div>
		<!--/ WRAPPER-->

	</body>

</html>