<!--FORM: NEW RESPONSE-->
<div class="slds-box slds-m-vertical--small">
	<h3 class="slds-text-heading--small">New Response</h3>
	<form role="form" class="slds-form--stacked slds-grid slds-wrap slds-m-top--large">
		<div class="slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-1">
			<!--ResponseSentBy-->
			<div class="slds-form-element">
				<label class="slds-form-element__label" for="response_sent_by">Sent By</label>
				<div class="slds-form-element__control">
					<a href="#" id="response_sent_by" class="slds-form-element__static">Mike Client</a>
				</div>
			</div>
			<!--ResponseComment-->
			<div class="slds-form-element">
			  <label class="slds-form-element__label" for="response_body">Response</label>
			  <div class="slds-form-element__control">
			    <textarea id="response_body" class="slds-textarea" style="min-height:150px;" placeholder="Describe your need here."></textarea>
			  </div>
			</div>
			<!--Actions-->
			<section class="slds-clearfix slds-m-top--medium">
					<div class="slds-float--right slds-button-group" role="group">
					<button class="slds-button slds-button--brand">Submit</button>
					<button class="slds-button slds-button--neutral">Cancel</button>
				</div>
			</section>

		</div>
	</form>
</div>
<!--/FORM: NEW COMMENT-->
