<div class="slds">
  <div>
    <div aria-hidden="false" role="dialog" class="slds-modal slds-fade-in-open">
      <form class="form" name="form" ng-submit="register(form)" novalidate>
        <div class="slds-modal__container">
          <div class="slds-modal__header">
            <div>
              <img src="../assets/SLDS0110/assets/icons/utility/chat_60.png" class="slds-m-vertical--small">
            </div>
            <h1 class="slds-text-heading--large" style="font-weight:bold">Neighborly</h1>
            <p class="slds-text-body--small">Powered by Church Community Builder</p>
            <h2 class="slds-text-heading--medium slds-m-top--large">Sign Up or <a href="/login">Login</a></h2>
          </div>
          <div class="slds-modal__content">
            <div class="slds-form-element" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
              <label class="slds-form-element__label" for="name">Name</label>
              <div class="slds-form-element__control">
                <input id="name" type="text" name="name" class="slds-input" ng-model="user.name" required>
                <p class="help-block" ng-show="form.name.$error.required && submitted">A name is required</p>
              </div>
            </div>
            <div class="slds-form-element" ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
              <label class="slds-form-element__label" for="email">Email</label>
              <div class="slds-form-element__control">
                <input id="email" type="email" name="email" class="slds-input" ng-model="user.email" required mongoose-error/>
                <p class="help-block" ng-show="form.email.$error.email && submitted">Doesn't look like a valid email.
                </p>
                <p class="help-block" ng-show="form.email.$error.required && submitted">What's your email address?
                </p>
                <p class="help-block" ng-show="form.email.$error.mongoose">{{ errors.email }}
                </p>
              </div>
            </div>
            <div class="slds-form-element" ng-class="{ 'has-success': form.password.$valid && submitted,'has-error': form.password.$invalid && submitted }">
              <label class="slds-form-element__label" for="password">Password</label>
              <div class="slds-form-element__control">
                <input id="password" type="password" name="password" class="slds-input" ng-model="user.password" ng-minlength="3" required mongoose-error/>
                <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">Password must be at least 3 characters.
                </p>
                <p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.password }}
                </p>                
              </div>
            </div>
          </div>
          <div class="slds-modal__footer">
            <button class="slds-button slds-button--neutral slds-button--brand" type="submit">Sign Up</button>
            <a class="slds-button slds-button--neutral" href="/login">Login</a>
          </div>
        </div>
      </form>      
    </div>
    <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
  </div>
</div>
</div>