<!-- GROUP NEEDS -->
<div id="tab-default-2" class="slds-tabs__content slds-show" role="tabpanel">
  <ul id="need-list" class="slds-list--vertical slds-has-cards">

    <div class="slds-card" ng-repeat="group in data.groupRequestList">

      <div class="slds-card__header slds-grid">
        <div class="slds-media slds-media--center slds-has-flexi-truncate">
          <div class="slds-media__figure">
              <img src="../bower_components/salesforce-lightning-design-system/assets/icons/standard/groups.svg" class="slds-icon__container slds-icon slds-icon-standard-opportunity">
          </div>
          <div class="slds-media__body">
            <h2 class="slds-text-heading--small slds-truncate">{{group}}</h2>
          </div>
        </div>
      <div class="slds-no-flex">
          <div class="slds-button-group">
            <a class="slds-button slds-button--neutral slds-button--small" href="/my-needs-new">New Request</a>
        <a class="slds-button slds-button--neutral slds-button--small" href="https://multisite.ccbchurch.com/group_list.php" target="_blank">View Group</a>
          </div>
        </div>
          </div>
      <div class="slds-card__body">

      <div ng-repeat="request in data.groupRequests | filter:group:group">

        <request-tile request="request"></request-tile>

      </div>

    </div>
  </ul>
</div>
